{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{%static 'img/logo/logo.png' %}" rel="icon">
    <title>QR - Forms</title>
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{%static 'css/ruang-admin.min.css' %}" rel="stylesheet">
    <script>
        function pswdvalidation() {

            var currentpswd = document.getElementById("CurrentPassword").value;
            var newpswd = document.getElementById("NewPassword").value;
            var confirmpswd = document.getElementById("ConfirmPassword").value;
            document.getElementById("valCurrentPassword").innerHTML = "";
            document.getElementById("valNewPassword").innerHTML = "";
            document.getElementById("valConfirmPassword").innerHTML = "";
            if (currentpswd.length < 4) {
                pswdError = "Current Password Required";
                document.getElementById("valCurrentPassword").innerHTML = pswdError;
                return false;              
            }
            else if (newpswd.length < 4) {
               cpswdError = "Password Required";
               document.getElementById("valNewPassword").innerHTML = cpswdError;
               return false;                           
            } 
            else if (confirmpswd.length < 4) {
                cpswdError = "Confirm Password Required";
                document.getElementById("valConfirmPassword").innerHTML = cpswdError;
                return false;
            }          
            else if (newpswd != confirmpswd|| confirmpswd == null) {
                pswdcError = "Password and Confirm Password not matched";
                document.getElementById("valConfirmPassword").innerHTML = pswdcError;
                return false;
            }
            else
            {
            document.getElementById("valConfirmPassword").innerHTML = "";
            return true;
            }
        }
       
    </script>
    <style>
        p {
           
            margin-bottom: 1rem;
            color: red;
            margin: auto;
        }
    </style>

</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <img src="{%static 'img/logo/logo.png' %}">
                </div>
                <div class="sidebar-brand-text mx-3"><img src="{%static 'img/logo/qr-logo.png' %}"></div>
            </a>
            <hr class="sidebar-divider my-0">
            <!--<li class="nav-item">
                <a class="nav-link collapsed" href="template">
                    <i class="far fa-fw fa-window-maximize"></i>
                    <span>Templates</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="adduser">
                    <i class="fab fa-fw fa-wpforms"></i>
                    <span>User Information</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Saved Forms</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-palette"></i>
                    <span>UI Colors</span>
                </a>
            </li>-->
           <li class="nav-item">
                <a class="nav-link" href="userform1">
                    <i class="fas fa-fw fa-columns"></i>
                    <span>User Home</span>
                </a>
            </li>
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle" src="{%static 'img/boy.png' %}"
                                    style="max-width: 60px">
                                <span class="ml-2 d-none d-lg-inline text-white small">QR (Admin)</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="userprofile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="userchangepassword">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal"
                                    data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->
                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Credentials</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="template">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Credentials</li>
                        </ol>
                    </div>

                    <!-- Row -->
                    <div class="row mb-3">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
                                    {% if messages %}
                                    {% for message in messages %}
                                    <p id="paswerror"><span>{{message}}</span></p>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <!-- Change Password Content -->
                                    <form action="changepassword1" onsubmit="return pswdvalidation()" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label for="Cpassword" class="col-sm-3 col-form-label">Current
                                                Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" id="CurrentPassword"
                                                    name="CurrentPassword3" placeholder="Current Password">
                                                <span class="validation" id="valCurrentPassword"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" id="NewPassword"
                                                    name="NewPassword3" placeholder="New Password">
                                                <span class="validation" id="valNewPassword"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-3 col-form-label">Confirm 
                                                Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" id="ConfirmPassword"
                                                    name="ConfirmPassword3" placeholder="Confirm New Password">
                                                <span class="validation" id="valConfirmPassword"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12  text-right">
                                                <button type="submit" class="btn btn-primary">Update Password</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- Change Password Content -->
                                </div>
                            </div>
                        </div>
                        <!-- Pie Chart -->


                    </div>
                    <!--Row-->

                </div>
                <!---Container Fluid-->
            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>
                            copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> - Reserved by
                            <b><a href="https://www.quadrantresource.com/" target="_blank">Quadrant Resource</a></b>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{%static 'js/ruang-admin.min.js' %}"></script>

</body>

</html>