{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{%static 'img/logo/logo.png' %}" rel="icon">
    <title>QR - Forms</title>
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{%static 'css/ruang-admin.min.css' %}" rel="stylesheet">
    <style>
        .btn-block {
            display: block;
            width: 6%;
            margin-left: 981px;
        }
    </style>

</head>

<body id="page-top" onload="fun()">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <img src="{%static 'img/logo/logo.png' %}">
                </div>
                <div class="sidebar-brand-text mx-3"><img src="{%static 'img/logo/qr-logo.png' %}"></div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link collapsed" href="template">
                    <i class="far fa-fw fa-window-maximize"></i>
                    <span>Templates</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="adduser">
                    <i class="fab fa-fw fa-wpforms"></i>
                    <span>User Information</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Saved Forms</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-palette"></i>
                    <span>UI Colors</span>
                </a>
            </li>
           <li class="nav-item">
                <a class="nav-link" href="userform">
                    <i class="fas fa-fw fa-columns"></i>
                    <span>User Home</span>
                </a>
            </li>
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle" src="{%static 'img/boy.png' %}"
                                    style="max-width: 60px">
                                <span class="ml-2 d-none d-lg-inline text-white small">QR (Admin)</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="profile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="changepassword">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal"
                                    data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->

                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Template Form</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="template">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Template Form</li>
                        </ol>
                    </div>

                    <!-- Row -->
                    <div class="row mb-3">

                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-12">
                            <div class="card mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Number of Records</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Template Name:</label>
                                        <label id="tempname">form</label>
                                        <div class="col-sm-9">
                                            <label class="col-form-label"></label>
                                            <input type="hidden" id="temid" name="tempid">
                                        </div>
                                    </div>
                                    <!-- Register Content -->
                                    <form action="generaterow" method="POST">
                                        {% csrf_token %}
                                        
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label class="col-sm-4 col-form-label">No. of Rows</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="inputrows" class="form-control rowt"
                                                        name="rowno" placeholder="Enter No. of Rows"
                                                        aria-describedby="passwordHelpInline" value="{{number}}"
                                                        onkeyup="rows(this.value)" />
                                                    <span class="validation" id="valrows"></span>

                                                </div>

                                                <button type="submit" class="btn btn-primary" id="submit"
                                                    hidden>Add</button>

                                            </div>

                                            <div class="col-sm-6">
                                                <label class="col-sm-4 col-form-label">No. of Columns</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="exampleInputFirstName"
                                                        placeholder="Enter No. of Rows" value="4" readonly>
                                                    <span class="validation" id="valTemplateName"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                        </div>
                                    </form>
                                    <!-- Register Content -->
                                </div>
                                <hr />
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Records</h6>
                                </div>
                            <form action="formdetails" method="POST">{% csrf_token %}
                                <div class="table-responsive container">

                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>S.No</th>
                                                <th>Field Name</th>
                                                <th>Control Type</th>
                                                <th>Mandatory</th>
                                                <th>HTML tag</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <input type="hidden" id="additems" name="dropdowndata" value="">
                                            {% for row in rowdata %}
                                            <tr>
                                                    <td>{{row}}</td>
                                                    
                                                    <td>
                                                        <input type="text" class="form-control"
                                                            id="exampleInputfieldname{{row}}" name="fieldname{{row}}"
                                                            placeholder="Enter Field Name">
                                                        <span class="validation" id="valFirstName"></span>
                                                    </td>
                                                    <td>
                                                        <div class="row" id="selectData{{row}}">
                                                            <div class="col-sm-12">
                                                                <select class="form-control" name="controltype{{row}}"
                                                                    id="exampleFormControlSelect{{row}}"
                                                                    onchange="controlSelect({{row}})">
                                                                    <option value="SelectOption" selected disabled>
                                                                        Select Control</option>
                                                                    <option id="TextBox" value="TextBox">TextBox
                                                                    </option>
                                                                    <option id="TextArea" value="TextArea">TextArea
                                                                    </option>
                                                                    <option id="Calender" value="Calender">Calender
                                                                    </option>
                                                                    <option id="Dropdown" value="Dropdown">Dropdown
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!--<div id="dropdownDisplay" style="visibility:hidden">-->
                                                        <!--<div class="col-sm-6 text-center">-->

                                                        <!--</div>-->
                                                        <!--<div class="col-sm-6 text-center">
                                                            <a data-target="#exampleModalScrollable" data-toggle="modal">Edit</a>
                                                        </div>-->
                                                        <!--</div>-->
                                                        <input type="hidden" name="hiddenvalue{{row}}"
                                                            id="control{{row}}" value="">
                                                        <span class="validation" id="valFirstName"></span>
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="exampleFormControlSelect1"
                                                            name="manadatory{{row}}">
                                                            <option value="No" selected>No</option>
                                                            <option value="Yes">Yes</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="htmltag{{row}}"
                                                            id="exampleInputFirstName" placeholder="Enter HTML Tag">
                                                        <span class="validation" id="valFirstName"></span>
                                                    </td>


                                            </tr>

                                            {% endfor %}

                                        </tbody>


                                    </table>
                                </div>

                                
                            
                                <div class="button">
                                    <button type="submit" class="btn btn-primary btn-block save" id="save">Save</button>
                                </div>
                            </form>
                            </div>
                            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalScrollableTitle">Add Items</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="itemData">
                                                <div class="row" id="item1">
                                                    <input type="hidden" id="textboxcount" name="count" value="">
                                                    <input type="hidden" id="rowCount" value="1" />
                                                    <div class="col-sm-2 text-center">                                                      
                                                        <label class="col-sm-3 col-form-label">Item</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control"
                                                            id="exampleInputFirstName1" placeholder="Enter Item Value">
                                                        <span class="validation" id="valFirstName">Value Required</span>
                                                    </div>
                                                    <div class="col-sm-2 text-center">
                                                        <span class="input-group-btn input-group-append"><button
                                                                class="btn btn-primary bootstrap-touchspin-up"
                                                                type="button" onclick="addItem(1)">+</button></span>
                                                    </div>
                                                    <!--<div class="col-sm-2 text-center">
                                                    <span class="input-group-btn input-group-prepend" onsubmit="deleteItem(1)"><button class="btn btn-primary bootstrap-touchspin-down" type="button">-</button></span>
                                                </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-primary"
                                                data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="savedata" onclick="addData()" data-dismiss="modal">Add Data</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                        </div>




                    </div>
                    <!--Row-->

                    <div class="row">
                        <!-- Datatables -->

                    </div>

                    <!-- Modal Logout -->
                    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to logout?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary"
                                        data-dismiss="modal">Cancel</button>
                                    <a href="login.html" class="btn btn-primary">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!---Container Fluid-->
            </div>



            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>
                            copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> - Reserved by
                            <b><a href="https://www.quadrantresource.com/" target="_blank">Quadrant Resource</a></b>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{%static 'js/ruang-admin.min.js' %}"></script>
    <script src="{%static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{%static 'js/demo/chart-area-demo.js' %}"></script>
    <!-- Page level plugins -->
    <script src="{%static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{%static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Page level custom scripts -->
    <script>
        //$(document).ready(function () {
        //    $('#dataTable').DataTable(); // ID From dataTable
        //    $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        //});
        var dropdown = [];
        function addItem(i) {
           // debugger;
            //var x =$('#exampleInputFirstName'+i).val();
            //dropdown.push(x);
            //console.log(dropdown);
            i = i + 1;
            
            $('#rowCount').val(i);
            //var dropdown = [];
            //dropdown.push(x);
            //console.log(dropdown)
           // alert(x);
            $('.itemData').append('<div class="row" id="item' + i + '"><div class="col-sm-2 text-center"><label class="col-sm-3 col-form-label">Item</label></div><div class="col-sm-6"><input type="text" class="form-control" id="exampleInputFirstName'+i+'" placeholder="Enter Item Value"><span class="validation" id="valFirstName">Value Required</span></div><div class="col-sm-2 text-center"><span class="input-group-btn input-group-append" onclick="addItem(' + i + ')"><button class="btn btn-primary bootstrap-touchspin-up" type="button">+</button></span></div><div class="col-sm-2 text-center"><span class="input-group-btn input-group-prepend"><button class="btn btn-primary bootstrap-touchspin-down" type="button" onclick="deleteItem(' + i + ')">-</button></span></div></div>')
            
        }
        function deleteItem(i) {
            //debugger;
            $('#item' + i).remove();
            i = i - 1;
            $('#rowCount').val(i);
           
        }
        function controlSelect(id) {
            //debugger;
            select = $('#exampleFormControlSelect' + id).val();
            $('#selectData' + id).empty();
            if (select == 'Dropdown') {
                $("#control" + id).val(select);
                $('#selectData' + id).append('<div class="col-sm-8"><select class="form-control" name="controltype' + id + '" id="exampleFormControlSelect ' + id + '" onchange="controlSelect(' + id + ')"><option value="SelectOption" disabled>Select Control</option><option value="TextBox">TextBox</option><option value="TextArea">TextArea</option><option value="Calender">Calender</option><option value="Dropdown" selected>Dropdown</option></select></div><div class="col-sm-4" id="dropdownDisplay" style="padding-top:5%;"><a href="#" data-target="#exampleModalScrollable" data-toggle="modal">View</a></div>')
            }

            else if (select == 'Calender') {
                $("#control" + id).val(select);
                $('#selectData' + id).append('<div class="col-sm-12"><select class="form-control" name="controltype' + id + '" id="exampleFormControlSelect' + id + '" onchange="controlSelect(' + id + ')"><option value="SelectOption" disabled>Select Control</option><option value="TextBox">TextBox</option><option value="TextArea">TextArea</option><option value="Calender" selected>Calender</option><option value="Dropdown">Dropdown</option></select></div>')
            }
            else if (select == 'TextArea') {
                $("#control" + id).val(select);
                $('#selectData' + id).append('<div class="col-sm-12"><select class="form-control" name="controltype' + id + '" id="exampleFormControlSelect' + id + '" onchange="controlSelect(' + id + ')"><option value="SelectOption" disabled>Select Control</option><option value="TextBox">TextBox</option><option value="TextArea" selected>TextArea</option><option value="Calender">Calender</option><option value="Dropdown">Dropdown</option></select></div>')
            }
            else if (select == 'TextBox') {
                $("#control" + id).val(select);
                $('#selectData' + id).append('<div class="col-sm-12"><select class="form-control" name="controltype' + id + '" id="exampleFormControlSelect' + id + '" onchange="controlSelect(' + id + ')"><option value="SelectOption" disabled>Select Control</option><option value="TextBox" selected>TextBox</option><option value="TextArea">TextArea</option><option value="Calender">Calender</option><option value="Dropdown">Dropdown</option></select></div>')
            }

        }
        function addData(){
            var number=$('#rowCount').val();
            for (i = 0; i <= number; i++) {
                var x =$('#exampleInputFirstName'+i).val();
                dropdown.push(x);
            }
            $('#additems').val(dropdown);
        }
    </script>
    <script>
        function rows(value) {
            reg = /^\-?([1-9]\d*|0)(\.\d?[1-9])?$/;
            var id = $('#inputrows').val();

            console.log(id);
            if (!reg.test(value)) {
                //alert("please enter numaric values only");
                emailError = "No. of Rows Required";
                document.getElementById("valrows").innerHTML = emailError;
                return false;
            }
            else {
                document.getElementById('valrows').innerHTML = "";
                $('#submit').click();

                // $(".save").show()

                //return reg.test(value);
            }
            // $("#save").show()
        }
        //function buttondisplay(value){
        //    if(value==1){
        //        $(".save").css('display', 'block');
        //    }
       //     else
       //   {
          //      $(".save").css('display', 'none');
         //   }
           // $('#exampleInputfieldname').click();
           // $(".save").css('display', 'block');

       // }
       
    </script>
    <script type="text/javascript">
        function fun() {
            var x= document.getElementById("temid").value = localStorage.getItem("message"); // You need to set the value for input fields, not innerHTML.
            document.getElementById("tempname").innerHTML = localStorage.getItem("message");

             $.ajax({
                url: '/gettemid',
                type: 'GET',
                crossDomain: true,
                cors: true,
                secure: true,
                data: {
                    stock: x
                },
                headers: {
                    'Access-Control-Allow-Origin': '*',
                },

                success: function(response) {

                   console.log(response);
                   response.forEach(function(response) {
                       $('#sno').text(response.$id);
                       var id=$('#inputrows').val(response.$id);
                       $('#exampleInputfieldname'+id).val(response.fieldName);

                    //console.log(response.fieldType + ": " + response.mandatoryField + "<br>");
                    });
                }
            });

        }
    </script>


</body>

</html>